@charset "utf-8";
/* CSS Document */
div.pagination {
	padding: 3px;
	margin: 3px;
	margin-left:20px;
}
.pagination .limit{
	float:left;
}
.pagination ul,.pagination li,.pagination a{
	display:block;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;	
}
.property_img a img {
	height: auto;
	width: 70%;
	padding: 10px;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.property_img a {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.featured_property {
	width: 96%;
	border: 2px solid #A4FE6D;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	min-width: 200px;
	max-width: 936px;
	font-family: "Century Gothic";

}
.featured_property h2 {
	font-family: "Century Gothic";
	font-size: 18px;
	color: #090;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #D2FFB7;
	padding-top: 5px;
	padding-right: 10px;
	display: block;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: auto;
}
.proj_detail table {
	background-color: #E7FFCE;
	width: 100%;
	border: 1px solid #999;
	margin: 0px;
	max-width: 746px;
	min-width: 140px;
	position: relative;
}
.property_img {
	width: 20%;
	height: 200px;
	float: left;
	text-align: center;
	display: block;
}
.proj_detail table tr td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.proj_detail table tr td a {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
}
.proj_detail table tr th {
	text-align: left;
	border-right-style: none;
	border-bottom-style: dotted;
	border-right-color: #999;
	border-bottom-color: #999;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-left-style: none;
}
.proj_detail {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 78%;
}
.clear {
	clear: both;
}
@charset "utf-8";
/* CSS Document */
	.featured_project ul li .project_box table tr td img {
		max-width:80% !important;
	
	}
div.pagination {
	padding: 0.5%;
	margin: 0.5%;
	display: block;
	clear: both;
	height: auto;
	width: 98%;
}

div.pagination a {
	margin: 2px;
	border: 1px solid #AAAADD;
	text-decoration: none; /* no underline */
	color: #000099;
	display: block;
	float: left;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;	
}
.property_img a img {
	height: auto;
	width: 70%;
	padding: 10px;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.property_img a {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.featured_project {
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
.project_box {
	margin: 2.5%;
	padding: 2%;
	border: 2px solid #CAFF95;
	background-color: #FFF;
	box-shadow: 2px 2px 3px #999;
	border-radius: 10px 0px 10px;
	width: 90%;
	min-height:330px;
}
.featured_project .project_box h1 {
	font-family: "Century Gothic Bold";
	font-size: 16px;
	color: #006;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #D2FFB7;
	display: block;
	text-align: center;
	vertical-align: middle;
	height: 40px;
}
.featured_project .project_box img {
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #FFF;
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
	height: 180px;
	max-height: 210px;
}
.featured_project .project_box table {
	background-color: #E7FFCE;
	margin: 0px;
	width: 100%;
	/* [disabled]height: 180px; */
}
.clear {
	clear: both;
}

.featured_project h1 {
	font-family: "Century Gothic";
	font-size: 16px !important;
	color: #090 !important;
	padding-bottom: 5px !important;
	padding-left: 10px !important;
	line-height:normal;
}
.featured_project ul li {
	list-style-type: none;
	margin: 0px !important;
	padding: 0px !important;
	list-style-image: none;
	display: block;
	width: 33.33%;
	float: left;
}
.featured_project ul {
	margin: 0px !important;
	padding: 0px !important;
	list-style-type: none;
	display:block;
}

.featured_project #slider1 li .project_box table tr td.projslide a {
	display: block;
	text-align: center;
	vertical-align: middle;
}
.featured_project #slider1 li .project_box table tr td.projslide a img {
	max-width:80% !important;

}
.featured_project #slider1 li .project_box table tr .projslide {
	height: 140px;
	width: 130px;
	display: block;
}
.featured_project #slider1 li .project_box table tr td .projslide img {
	height: 130px;
	width: 130px;
	max-width:80% !important;

}

/* Tab Pannel Here */
ul.nav-tabs{
	margin:0px !important;
	background-image:url(../images/nav_bg_li.png);
}
ul.nav-tabs li{
	margin:0px !important;
	border:none !important;
	padding:0px !important;
}
ul.nav-tabs li a{
	background-image:url(nav_bg_li.png);
	font-size:14px;
}
ul.nav-tabs li.active a{
	font-size:14px;
	color:#FF6 !important;
}
.content .tab-pane.active{
	border:2px solid #CAFF95;
	padding:15px;
	margin-bottom:20px;
	
}

/* Send Email */
.content {
	padding: 10px;
	width: 98%;
	font-size: 100%;
	max-width: 1100px;
	min-width: 780px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
}
@font-face {
	font-family: 'Century Gothic';
	src: url('../admin/GOTHIC.TTF') format('truetype');
}
form.enquiry    {
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	width: 98%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #099;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	background-color: #E7FFCE;
	background-position: bottom;
	min-width: 190px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	max-width: 960px;
	position: relative;
}
.enquiry input   {
	width: 100%;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	display: block;
}
.enquiry textarea    {
	width: 95%;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	display: block;
}
.enquiry textarea:focus, input:focus {
border: 1px solid #09C;
}
#submit {
	width: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #CCC;
	box-shadow: 2px 2px 10px #999;
}
#submit:hover {
	background-color: #C00;
	color: #FFF;
	border: 1px solid #FFF;
}
#form1 h1 {
	font-size: 16px;
	color: #339;
	margin: 0px;
	padding: 5px;
	display: block;
	background-color: #CCF;
}
#form1 table {
	margin: 0px;
	padding: 0px;
}

